<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Dashboard</title>
  <style>
    body {
      display: flex; height: 100vh; margin: 0;
      font-family: 'Arial'
    }

    nav {
      border-right: .2vw black solid;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    main, nav {
      padding: 1vw;
    }

    main {width: 100%}

    a {
      width: 100%;
      padding: 1vw 0vw
    }

    button:hover {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <nav>
    <a href='/water'>Носене на вода</a>
    <a href='/food'>Обяд и вечеря</a>
  </nav>
  <main>
    {% block content %}

    {% endblock %}
  </main>
</body>
</html>